<div class="col-md-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>IP Address</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in pagination %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.year }}</td>
            <td>{% if movie.rating is not empty %}{{ movie.rating }}{% else %}-{% endif %}</td>
            <td>{% if movie.authorIp %}{{ movie.authorIp }}{% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-md-12">
    {{ knp_pagination_render(pagination) }}
</div>